body{
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	text-align: right;
	color: #5F6E68;
	line-height: 1.5em;

}

h1{
	text-transform: uppercase;
	color: #000;
	font-size: 2em;
	/*background-color: #FFE7E3;*/
}

h2{
	font-size: 1.5em;
}

h3{
	font-size: 1em;
}

h1, h2, h3{
	font-weight: bold;
	line-height: 1em;
	margin: 5px 0;
}

p{
	font-weight: 100;
	margin: 5px 0;
	/*background-color: #B5FFF3;*/
}

a{
	text-decoration: none;
	display: block;
}

a:link, a:visited {
	color: #FFFFFF;
}
a:hover {
	color: #FFE7E3;
}

img{
	margin: 5px 0;
	/*background-color: #7CAECC;*/
}

aside{
	position:fixed;
	background-color: #000000;
	height: 100%;
	width: 25%;
}
nav{
	position: absolute;
	top: 5%;
	height: 20px;
	
}

nav>a{
	width: 100%;
	text-align: left;
	margin-left: 10px;
	text-transform: uppercase;
	line-height: 1.5em;
  	font-size: 1.5em;
  	font-weight: 100;

}

#contact{
	position: absolute;
	bottom: 5%;
	height: 20px;
	width: 100%;
	margin-left: 10px;
	text-align: left;
	font-weight: 100;

}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}

#wrapper{
	float: right;
	padding: 5px;
	margin: 0 10px;
	width: 70%;
}

header{
	margin: 20px 0;
}

.para{
	margin: 5px 0;
}

.workimage{
	margin: 5px 0;
	/*background-color: #78FF81;*/
}