body{
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	text-align: right;
	color: #5F6E68;

}

h1{
	text-transform: uppercase;
	color: #000;
	font-size: 2em;
	background-color: #FFE7E3;
}

h2{
	font-size: 1.5em;
}

h3{
	font-size: 1em;
}

h1, h2, h3{
	font-weight: bold;
	padding: 5px;
	margin: 5px;
}

p{
	font-weight: 100;
	background-color: #B5FFF3;
}

a{
	text-decoration: none;
	display: block;
	float: left;
	padding: 5px;
	width: 20%;
}

a:link, a:visited {
	color: #FFFFFF;
}
a:hover {
	color: #FFE7E3;
}

img{
	padding: 5px;
	margin: 5px;
	background-color: #7CAECC;
}

aside{
	position:fixed;
	background-color: #aaaaaa;
	height: 100%;
	width: 25%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}

#wrapper{
	float: right;
	padding: 5px;
	margin: 0 10px;
	width: 75%;
}

.workimage{
	margin: 5px 0;
	background-color: #78FF81;
}