html{
	width: 100%;
	height: 100%; /*fills screen*/
}

body{
	font-size: 18px;
	font-family: helvetica, sans-serif;
	font-weight: 100;
	color: #D92D37;
	width: 100%;
	height: 100%;
	margin: 0;
}
a{
	text-decoration: none;
}

h1, h2, h3{
	font-family: "Times New Roman", serif;
}

#Marielisa{
	margin: 0;
	padding: 40px 0;
}

#home{
	background: url(images/LA.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #D92D37;
	position: relative;
	overflow: auto;
}

#Marielisa{
	font-weight: 900;
	font-size: 3.5em;
}

#home a, a:link, a:visited{
	color: #D92D37;
}
#home a:hover{
	color: #FFF;
}
#homewrapper{
	width: 90%;
	height: 90%;
	margin: 3% auto 7%;
	background-color: rgba(255,255,255,0.3);
	padding: auto;
}

/*iPad portrait
@media screen only and (max-width: 768) { 
	body{
	}
}*/

@media screen and (max-width: 480px) { /*iPhone landscape*/
	body{
		font-size: 16px;
	}
	#Marielisa{
		font-size: 3em;
		color: blue;
	}
}

@media screen and (max-width: 320px) { /*iPhone portrait*/
	body{
		font-size: 16px;
	}
}